# Next Auth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://127.0.0.1:3000"

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=""

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Email Server
EMAIL_SERVER=""
EMAIL_PORT=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""

# Backend
DATABASE_URL="postgresql://ntp:yTyJg2EZgmGUuTPeVd84CjEQTpK2v2sr@api.ntpinsights.ca:5431/ntp"
NEXT_PUBLIC_BACKEND_URL="https://api.ntpinsights.ca"